
<p id="message_<%= message.id %>" 
<% if message.poster != @user.alias and (@previously_last_checked.nil? or @previously_last_checked < message.updated_at) %>
style="border-left:1px solid #347acb;"
<% end %>
>
<% if message.poster == @user.alias %>
    <span class="buttons"><%= link_to content_tag(:span, ''), [@channel, message], :confirm => "Are you sure?",
        :method => :delete, :remote => true, :class => 'delete_post' %>
        <%= link_to '>>', "/channels/#{@channel.id}?branch_id=#{message.id}" %>
    </span>
<% end %>
<%= raw [message.marked_up_content] %>
</p>

<% if message.has_branch? %>
    <% branch_message = message.successor_for_branch message.branch_link %>
    <% if branch_message %>
        <div class="branchpoint">
            <% if message.branch_link %>
                <%= link_to "Show Conversation: #{branch_message.summarize}", "/channels/#{@channel.id}?branch_id=#{message.branch_link}" %>
            <% else %>
                <%= link_to "Show Conversation: #{branch_message.summarize}", "/channels/#{@channel.id}" %>
            <% end %>
        </div>
    <% end %>
<% end %>
