<div class="message_entry" id="message_<%= message.id %>" 
<% if message.poster != @user.alias and (@previously_last_checked.nil? or @previously_last_checked < message.updated_at) %>class="unread"<% end %>>
<span class="buttons">
    <% if message.poster == @user.alias %>
        <%= link_to content_tag(:span, ''), [@channel, message], :confirm => "Are you sure?",
            :method => :delete, :remote => true, :class => 'delete_post', :title => 'Delete this message.' %>
    <% end %>
    <% if not message.has_branch? %>
        <%= link_to content_tag(:span, ''), "/channels/#{@channel.id}?branch_id=#{message.id}", :class => 'make_branch', :title => 'Start a branch from this message.' %>
    <% end %>
</span>
<%= raw [message.marked_up_content] %>

<% if message.has_branch? %>
    <%= render :partial => "branchpoint", :object => message %>
<% end %>

</div>


