<% content_for :head do %>
    <%= javascript_include_tag "channel" %>
<% end %>

<div id="group_details">
<div class="top_controls">
	<div class="users_in_channel">Users in channel: <% @channel.users.each do |u| %> <%= u.alias %> <% end %></div>
	<a href="javascript:showOverlay();" class="add_user">Add User</a>
</div>
<div id="main_content">
	<div id="message_post">
        <img id="spinner" style="float:right;visibility:hidden;" src="/images/spinner.gif"/>
	<h2><%=h @channel.name %></h2>
        <%= form_for [@channel, @message] , :remote => true do |f| %>
	    <label for="msginput">Post Message
	    <%= f.text_area :content, :size => "100x4", :id => "msginput" %></label>

            <a href="javascript:spinOn();$('#new_message').submit();" class="message_post">Post</a>
	<% end %>
	
	
	</div>

	
	<% prev_message = nil %>
	<ul id="message_list">
            <% if @message_groups.size == 0 %>
                <li class="message_row"><p class="no_messages">This channel has no messages.</p></li>
            <% end %>
	    <% @message_groups.each do |group| %>
                <li class="message_row">
                <div class="meta">
                    <p class="username"><%= group.poster %>:</p>
                    <p class="date"><%= group.date %></p>
                </div>
                <div class="message_content">
                    <% group.messages.reverse.each do |m| %>
                        <%= render :partial => "message", :object => m %>
                    <% end %>
                </div>
                </li>
            <% end %>
        </ul>

        <% if not @message_groups.empty? %>
            <% last_message = @message_groups.last.messages.last %>

            <div style="text-align:center;">
                <%= link_to 'More', "/channels/get_page/#{@channel.id}?from_date=#{last_message.updated_at.to_i}", :remote => true, :id => "more_link" %>
            </div>
        <% end %>
</div>
<div id="media_content">
	<p>Right column for media stuff (just an idea for now)</p>
</div>
<ul class="bottom_controls">
<li><%= link_to 'Back', channels_path %></li>
<li><%= link_to 'Edit', edit_channel_path(@channel) %></li>
<li><%= link_to 'Delete Channel', channel_path(@channel), :confirm => "Are you sure?", :method => :delete %></li>
<% if @channel.users.include? @user %>
<li><%= link_to "Leave Channel", "/channels/leave_channel/#{@channel.id}" %></li>
<% end %>
</ul>
<div id="overlay" class="overlay">
    <div class="overlay_content add_user_form">
    <a href="#" class="close_overlay">Cancel</a>
        <%= form_tag('add_user', :id => 'add_user_form') do %>
            <label for="user_alias">Add user:
            <%= text_field :user, :alias, :value => "" %>
            </label>
            <%= hidden_field_tag :id, @channel.id %>

            <a href="javascript:$('#add_user_form').submit();" >Add User</a>
        <% end %>
    </div>
    <div class="overlay_bg"></div>
</div>

<div id="sound_element"></div>

<script type="text/javascript">

    $(document).ready(
            function()
            {
            $('#msginput').focus();
            waitForMsg(<%= @channel.id %>);
            });

    weHaveFocus = true;

    isShowingAltTitle = false;
    notifyTimer = null;

function playDing()
{
    sound_file_url = "/sounds/ding.mp3";
    $('#sound_element').html( "<embed src='"+sound_file_url+"' hidden=true autostart=true loop=false>");
}

function fadeUnread()
{
    var marked_unread = $('.message_content p').filter(function() {
                return $(this).css('borderLeftColor') != '#eee';
                });
    marked_unread.animate({ borderLeftColor: '#eee'}, 12000);
}

window.onfocus = function()
{
    weHaveFocus = true;

    stopNotify();

    var newtitle = "Channels: <%= @channel.name %>" ;
    document.title = newtitle;

    fadeUnread();
}

window.onblur = function()
{
    weHaveFocus = false;
}


function stopNotify()
{
    if (notifyTimer != null)
    {
        clearTimeout(notifyTimer);
        notifyTimer = null;
    }
}

function notify(name)
{
    if (isShowingAltTitle)
    {
        document.title = "Channels: <%= @channel.name %>";
    }
    else
    {
        document.title = name + " says...";
    }
    isShowingAltTitle = !isShowingAltTitle;

    notifyTimer = setTimeout("notify('" + name + "')", 1500);
}

function startNotify(name)
{
    if (notifyTimer == null)
        notifyTimer = setTimeout("notify('" + name + "')", 1500);
    playDing();
}

var last_checked = '<%= Time.now.to_i %>';


// post submit
$('#msginput').keypress(function(event) {
        if (event.which == '13' && !event.shiftKey) 
        {
        event.preventDefault();
        $('#new_message').submit();
        }
        });

</script>
