<%= javascript_include_tag "channel" %>

<script type="text/javascript">
    var currentnumber = <%= @channel.messages.count %>;
    $(document).ready(function(){waitForMsg(<%= @channel.id %>);});
</script>


<h2>Showing Channel:
<%=h @channel.name %>
</h2>

<div>
Users in channel: <% @channel.users.each do |u| %> <%= u.alias %> <% end %>
    <div>
        <% form_tag('add_user') do %>
            Add user:
            <%= text_field :user, :alias, :value => "" %>
            <%= hidden_field :channel, :id %>
            <%= submit_tag 'Add' %>
        <% end %>
        <% if @channel.users.include? @user %>
            <%= link_to "Leave Channel", "/channels/leave_channel/#{@channel.id}" %>
        <% end %>
    </div>
</div>

<hr/>

<% if @channel.messages.size == 0 %>
    This channel has no messages.
<% end %>

<table id="messagetable" style="width:800px;">
<% @channel.messages.each do |m| %>
    <tr>
        <td valign="top" width="110" nowrap>
            <i><%= m.updated_at.localtime.strftime("%b %e %l:%M%p") %></i> 
        </td>
        <td valign="top" width="40" style="text-align:right;">
            <b><%= m.poster %>:</b>
        </td>
        <td style="text-align:left;">
            <%= m.marked_up_content %>
        </td>
    </tr>
<% end %>
</table>

<hr/>
<% form_for [@channel, @message] do |f| %>
    <%= f.error_messages %>

    <p>
    Post Message<br/>
    <%= f.text_area :content, :size => "60x10" %>
    </p>
    <p>
    <%= f.submit 'Post' %>
    </p>
<% end %>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Delete Channel', @channel, :confirm => 'Are you sure?', :method => :delete %> |

<%= link_to 'Back', channels_path %>
