<% content_for :head do %>
    <%= javascript_include_tag "channel" %>
<% end %>
<div id="sub_header">
	<h2 class="channel_title"><%=h @channel.name %></h2>
	<div class="sub_header_right">
		<a href="javascript:showOverlay();" class="invite_people">+ Invite People</a>
		<nav id="channel_nav">
			<ul>
			<li><%= link_to content_tag(:span, '')+'Edit Group', edit_channel_path(@channel), :class => 'edit_group' %><span></span></li>
			<li><a href="javascript:void(0)" class="visual_map"><span></span> Visual Map</a></li>
			<li><a href="javascript:void(0)" class="notification_settings"><span></span> Notification Settings</a></li>
			<li><a href="javascript:void(0)" title="<% @channel.users.each do |u| %> <%= u.alias %> <% end %>" class="members"><span></span> Members</a></li>
			</ul>
		</nav>
	</div>
</div>
<div id="sidebar">
        <h3>Active Branches:</h3>
        <ul class="branch_list">
            <% active_branches = @channel.top_active_branches %>  
            <% active_branches << params[:branch_id] if not active_branches.include? params[:branch_id].to_i %>
            <% active_branches.each do |bid| %>  
                <li <%= "class='selectedbranch'" if bid.to_s == params[:branch_id].to_s %>>
                <a href="/channels/<%= @channel.id %><%= "?branch_id=#{bid}" if bid %>" >
                    <%= @channel.latest_for_branch(bid).summarize(22) %>
                <span></span></a>
                </li>
            <% end %>
        </ul>
        <h3>Other controls</h3>
        <ul class="bad_controls">
        	<li><%= link_to 'Delete Channel', channel_path(@channel), :confirm => "Are you sure?", :method => :delete, :class => 'delete_channel' %></li>
        	<% if @channel.users.include? @user %>
        	<li><%= link_to "Leave Channel", "/channels/leave_channel/#{@channel.id}", :class => 'leave_channel' %></li>
        	<% end %>
        </ul>
</div>
<!-- /end left #sidebar -->
<section id="main">
<div id="group_details"
<div id="main_content">
	<div id="post_area">
		<div class="post_area_inner">
        <img id="spinner" style="float:right;visibility:hidden;" src="/images/spinner.gif"/>
	
        <%= form_for [@channel, @message] , :remote => true do |f| %>
			<%= f.hidden_field(:branch_id, :value => params[:branch_id]) %>
			<div class="input_wrapper">
				<label for="msginput">Enter your message here...</label>
				<%= f.text_field :content, :id => "msginput", :autoselect => 'true', :tabindex => '1' %>
			</div>
           <p class="form_note">To post your message hit the return/enter key. Simple HTML characters are allowed.</p>
	<% end %>
	</div>
	
	</div>

	<div id="messages">
	<% prev_message = nil %>
	<% if not @message_groups.empty? %>
		<% last_message = @message_groups.first.messages.first %>
		
                <%= link_to 'Load Earlier Posts', "/channels/get_page/#{@channel.id}?#{"branch_id=" + last_message.branch_id.to_s + "&" if last_message.branch_id}from_date=#{last_message.created_at.to_i}", :remote => true, :id => "more_link" %>
	<% end %>
	<ul id="message_list">
            <% if @message_groups.size == 0 %>
                <li class="message_row"><p class="no_messages">This channel has no messages.</p></li>
            <% end %>
	    <% @message_groups.each do |group| %>
                <%= render :partial => "message_group", :object => group %>
            <% end %>
        </ul>
        </div>
</div>
<div id="overlay" class="overlay">
    <div class="overlay_content add_user_form">
    <a href="#" class="close_overlay">Cancel</a>
        <%= form_tag('add_user', :id => 'add_user_form') do %>
            <label for="user_alias">Add user:
            <%= text_field :user, :alias, :value => "" %>
            </label>
            <%= hidden_field_tag :id, @channel.id %>

            <a href="javascript:$('#add_user_form').submit();" >Add User</a>
        <% end %>
    </div>
    <div class="overlay_bg"></div>
</div>

<div id="sound_element"></div>
</section>
<script type="text/javascript">

	$(document).ready(function() {
		messageResizing();
		$(window).resize(messageResizing);
		messageScrollBottom();
		$('#msginput').focus();
		waitForMsg(<%= @channel.id %>);
		inputFocusState();
	});

    weHaveFocus = true;

    isShowingAltTitle = false;
    notifyTimer = null;

function playDing()
{
    sound_file_url = "/sounds/ding.mp3";
    $('#sound_element').html( "<embed src='"+sound_file_url+"' hidden=true autostart=true loop=false>");
}

function fadeUnread()
{
    var marked_unread = $('.message_content p').filter('.unread');
    marked_unread.animate({ background: '#fff'}, 10000);
}

window.onfocus = function()
{
    weHaveFocus = true;

    stopNotify();

    var newtitle = "Channels: <%= @channel.name %>" ;
    document.title = newtitle;

    fadeUnread();
}

window.onblur = function()
{
    weHaveFocus = false;
}


function stopNotify()
{
    if (notifyTimer != null)
    {
        clearTimeout(notifyTimer);
        notifyTimer = null;
    }
}

function notify(name)
{
    if (isShowingAltTitle)
    {
        document.title = "Channels: <%= @channel.name %>";
    }
    else
    {
        document.title = name + " says...";
    }
    isShowingAltTitle = !isShowingAltTitle;

    notifyTimer = setTimeout("notify('" + name + "')", 1500);
}

function startNotify(name)
{
    if (notifyTimer == null)
        notifyTimer = setTimeout("notify('" + name + "')", 1500);
    playDing();
}

var last_checked = '<%= Time.now.to_i %>';

<% if params[:branch_id] %>
    var current_branch = '<%= params[:branch_id] %>';
<% else %>
    var current_branch = null;
<% end %>


// post submit
$('#msginput').keypress(function(event) {
	if (event.which == '13' && !event.shiftKey) {
		event.preventDefault();
		$('#new_message').submit();
	}
});

</script>
