<% content_for :head do %>
    <%= javascript_include_tag "channel" %>
<% end %>

<script type="text/javascript">
    var currentnumber = <%= @channel.messages.count %>;
    $(document).ready(function(){waitForMsg(<%= @channel.id %>);});
</script>


<h2>Showing Channel:
<%=h @channel.name %>
</h2>

<div>
Users in channel: <% @channel.users.each do |u| %> <%= u.alias %> <% end %>
    <div>
        <% form_tag('add_user') do %>
            Add user:
            <%= text_field :user, :alias, :value => "" %>
            <%= hidden_field :channel, :id %>
            <%= submit_tag 'Add' %>
        <% end %>
        <% if @channel.users.include? @user %>
            <%= link_to "Leave Channel", "/channels/leave_channel/#{@channel.id}" %>
        <% end %>
    </div>
</div>

<hr/>

<% if @channel.messages.size == 0 %>
    This channel has no messages.
<% end %>

<table id="messagetable">
<% @channel.messages.reverse.each do |m| %>
    <tr>
        <td class="datecol">
            <%= m.pretty_updated_at %> 
        </td>
        <td class="namecol">
            <%= m.poster %>:
        </td>
        <td class="contentcol">
            <%= m.marked_up_content %>
        </td>
    </tr>
<% end %>
</table>

<hr/>
<% form_for [@channel, @message] do |f| %>
    <%= f.error_messages %>

    <p>
    Post Message<br/>
    <%= f.text_area :content, :size => "60x10" %>
    </p>
    <p>
    <%= f.submit 'Post' %>
    </p>
<% end %>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Delete Channel', @channel, :confirm => 'Are you sure?', :method => :delete %> |

<%= link_to 'Back', channels_path %>
