<% content_for :head do %>
    <%= javascript_include_tag "channel" %>
<% end %>

<script type="text/javascript">
    var currentnumber = <%= @channel.messages.count %>;
    $(document).ready(function(){waitForMsg(<%= @channel.id %>);});
</script>
<div id="group_details">
<div class="top_controls">
	<div class="users_in_channel">Users in channel: <% @channel.users.each do |u| %> <%= u.alias %> <% end %></div>
	<div class="channel_controls">
	    <div class="add_user_form">
	        <%= form_tag('add_user') do %>
	            <label for="user_alias">Add user:
	            <%= text_field :user, :alias, :value => "" %>
	            </label>
	            <%= hidden_field_tag :id, @channel.id %>
	            <%= submit_tag "Add User", :class => "add_user_submit" %>
	        <% end %>
	    </div>
	</div>
</div>

<div id="message_post">
<h2><%=h @channel.name %></h2>
<%= form_for [@channel, @message] do |f| %>
    <label for="msginput">Post Message
    <%= f.text_area :content, :size => "100x4", :id => "msginput" %></label>
<% end %>

<a href="javascript:submitPost();" class="message_post">Post</a>

</div>

<% if @channel.messages.size == 0 %>
    This channel has no messages.
<% end %>

    <% prev_message = nil %>
	<ul id="message_list">
	    <% @channel.grouped_messages.each do |group| %>
	        	<li id="message_<%= m.id %>" class="message_row">
	            <div class="meta">
	            	<p class="username"><%= group.poster %>:</p>
				<p class="date"><%= group.date %></p>
	            </div>
	            <div class="message_content">
	                    <% group.messages.reverse.each do |m| %>
	                        <p><%= m.marked_up_content %></p>
	                    <% end %>
	            </div>
	            </li>
	    <% end %>
	</ul>


<script type="text/javascript">
    // attach handler to form's submit event 

function submitPost()
{
    var text = $('#msginput').val();
    var options = 
    {
        dataType: 'json',
        success:    function(data, stat)
        {
            addMessageToTable(data['id'],"<%= @user.alias %>", data['time'], text);
        }
    };
    $('#new_message').ajaxSubmit(options);
    $('#msginput').val("");
    //getNewMessages(<%= @channel.id %>);

}

$('#msginput').keypress(function(event) 
{
    if (event.which == '13' && !event.shiftKey) 
    {
      event.preventDefault();
      submitPost();
    }
});
</script>

<ul class="bottom_controls">
<li><%= link_to 'Back', channels_path %></li>
<li><%= link_to 'Edit', edit_channel_path(@channel) %></li>
<li><%= link_to 'Delete Channel', @channel, :confirm => 'Are you sure?', :method => :delete %></li>
<% if @channel.users.include? @user %>
<li><%= link_to "Leave Channel", "/channels/leave_channel/#{@channel.id}" %></li>
<% end %>
</ul>
