<% content_for :head do %>
    <%= javascript_include_tag "channel" %>
<% end %>

<script type="text/javascript">
    var currentnumber = <%= @channel.messages.count %>;
    $(document).ready(function(){waitForMsg(<%= @channel.id %>);});
</script>


<h2>Showing Channel:
<%=h @channel.name %>
</h2>

<div>
Users in channel: <% @channel.users.each do |u| %> <%= u.alias %> <% end %>
    <div>
        <% form_tag('add_user') do %>
            Add user:
            <%= text_field :user, :alias, :value => "" %>
            <%= hidden_field_tag :id, @channel.id %>
            <%= submit_tag 'Add' %>
        <% end %>
        <% if @channel.users.include? @user %>
            <%= link_to "Leave Channel", "/channels/leave_channel/#{@channel.id}" %>
        <% end %>
    </div>
</div>

<hr/>

<% form_for [@channel, @message] do |f| %>
    <%= f.error_messages %>

    <p>
    Post Message<br/>
    <%= f.text_area :content, :size => "100x4", :id => "msginput" %>
    </p>
<% end %>

<a href="javascript:submitPost();">Post</a>

<hr/>

<% if @channel.messages.size == 0 %>
    This channel has no messages.
<% end %>

<table id="messagetable">
    <% prev_message = nil %>
    <% @channel.grouped_messages.each do |group| %>
        <tr>
            <td class="datecol">
                <%= group.date %> 
            </td>
            <td class="namecol">
                <%= group.poster %>:
            </td>
            <td class="contentcol">
                <ul>
                    <% group.messages.reverse.each do |m| %>
                        <li id="message_<%= m.id %>">
                        <%= m.marked_up_content %>
                        </li>
                    <% end %>
                </ul>
            </td>
        </tr>
    <% end %>
</table>


<script type="text/javascript">
    // attach handler to form's submit event 

function submitPost()
{
    var text = $('#msginput').val();
    var options = 
    {
        dataType: 'json',
        success:    function(data, stat)
        {
            addMessageToTable(data['id'],"<%= @user.alias %>", data['time'], text);
        }
    };
    $('#new_message').ajaxSubmit(options);
    $('#msginput').val("");
    //getNewMessages(<%= @channel.id %>);

}

$('#msginput').keypress(function(event) 
{
    if (event.which == '13' && !event.shiftKey) 
    {
      event.preventDefault();
      submitPost();
    }
});
</script>

<hr/>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Delete Channel', @channel, :confirm => 'Are you sure?', :method => :delete %> |

<%= link_to 'Back', channels_path %>
