<% content_for :head do %>
    <%= javascript_include_tag "channel" %>
<% end %>
<div id="sidebar">
	<h2><%=h @channel.name %></h2>
	<nav id="channel_nav">
		<ul>
		<li><%= link_to content_tag(:span, '')+'Edit Group', edit_channel_path(@channel), :class => 'edit_group' %><span></span></li>
		<li><a href="javascript:void(0)" class="visual_map"><span></span> Visual Map</a></li>
		<li><a href="javascript:void(0)" class="notification_settings"><span></span> Notification Settings</a></li>
		<li><a href="javascript:void(0)" title="<% @channel.users.each do |u| %> <%= u.alias %> <% end %>" class="members"><span></span> Members</a></li>
		</ul>
	</nav>
	<a href="javascript:showOverlay();" class="invite_people">+ Invite People</a>
	<ul class="bad_controls">
		<li><%= link_to 'Delete Channel', channel_path(@channel), :confirm => "Are you sure?", :method => :delete, :class => 'delete_channel' %></li>
		<% if @channel.users.include? @user %>
		<li><%= link_to "Leave Channel", "/channels/leave_channel/#{@channel.id}", :class => 'leave_channel' %></li>
		<% end %>
	</ul>

        Branches: 
        <ul>
            <% @channel.branch_ids.each do |bid| %>  
                <li>
                <% if bid %>
                    <%= link_to bid, "/channels/#{@channel.id}?branch_id=#{bid}" %>
                <% else %>
                    <%= link_to "Main", @channel %>
                <% end %>
                </li>
            <% end %>
        </ul>
</div>
<!-- /end left #sidebar -->
<section id="main">
<div id="group_details"
<div id="main_content">
	<div id="post_area">
		<div class="post_area_inner">
        <img id="spinner" style="float:right;visibility:hidden;" src="/images/spinner.gif"/>
	
        <%= form_for [@channel, @message] , :remote => true do |f| %>
            <%= f.hidden_field(:branch_id, :value => params[:branch_id]) %>
	    <%= f.text_area :content, :size => "100x4", :id => "msginput" %>
            <a href="javascript:spinOn();$('#new_message').submit();" class="message_post">Post</a>
	<% end %>
	</div>
	
	</div>

	<div id="messages">
	<% prev_message = nil %>
	<% if not @message_groups.empty? %>
		<% last_message = @message_groups.last.messages.last %>
		
		<%= link_to 'Load Earlier Posts', "/channels/get_page/#{@channel.id}?from_date=#{last_message.updated_at.to_i}", :remote => true, :id => "more_link" %>
	<% end %>
	<ul id="message_list">
            <% if @message_groups.size == 0 %>
                <li class="message_row"><p class="no_messages">This channel has no messages.</p></li>
            <% end %>
	    <% @message_groups.each do |group| %>
                <li class="message_row">
                <div class="meta">
                    <p class="username"><%= group.poster %>:</p>
                    <p class="date"><%= group.date %></p>
                </div>
                <div class="message_content">
                    <% group.messages.each do |m| %>
                        <%= render :partial => "message", :object => m %>
                        <% if m.has_branch? %>
                            <div class="branchpoint">
                                <%= link_to "Show Other Conversation (3)", "/channels/#{@channel.id}?branch_id=#{m.id}" %>
                            </div>
                        <% end %>
                    <% end %>
                </div>
                </li>
            <% end %>
        </ul>
        </div>
</div>
<div id="overlay" class="overlay">
    <div class="overlay_content add_user_form">
    <a href="#" class="close_overlay">Cancel</a>
        <%= form_tag('add_user', :id => 'add_user_form') do %>
            <label for="user_alias">Add user:
            <%= text_field :user, :alias, :value => "" %>
            </label>
            <%= hidden_field_tag :id, @channel.id %>

            <a href="javascript:$('#add_user_form').submit();" >Add User</a>
        <% end %>
    </div>
    <div class="overlay_bg"></div>
</div>

<div id="sound_element"></div>
</section>
<script type="text/javascript">

	$(document).ready(function() {
		messageResizing();
		$(window).resize(messageResizing);
		messageScrollBottom();
		$('#msginput').focus();
		waitForMsg(<%= @channel.id %>);
	});

    weHaveFocus = true;

    isShowingAltTitle = false;
    notifyTimer = null;

function playDing()
{
    sound_file_url = "/sounds/ding.mp3";
    $('#sound_element').html( "<embed src='"+sound_file_url+"' hidden=true autostart=true loop=false>");
}

function fadeUnread()
{
    var marked_unread = $('.message_content p').filter(function() {
                return $(this).css('borderLeftColor') != '#eee';
                });
    marked_unread.animate({ borderLeftColor: '#eee'}, 12000);
}

window.onfocus = function()
{
    weHaveFocus = true;

    stopNotify();

    var newtitle = "Channels: <%= @channel.name %>" ;
    document.title = newtitle;

    fadeUnread();
}

window.onblur = function()
{
    weHaveFocus = false;
}


function stopNotify()
{
    if (notifyTimer != null)
    {
        clearTimeout(notifyTimer);
        notifyTimer = null;
    }
}

function notify(name)
{
    if (isShowingAltTitle)
    {
        document.title = "Channels: <%= @channel.name %>";
    }
    else
    {
        document.title = name + " says...";
    }
    isShowingAltTitle = !isShowingAltTitle;

    notifyTimer = setTimeout("notify('" + name + "')", 1500);
}

function startNotify(name)
{
    if (notifyTimer == null)
        notifyTimer = setTimeout("notify('" + name + "')", 1500);
    playDing();
}

var last_checked = '<%= Time.now.to_i %>';


// post submit
$('#msginput').keypress(function(event) {
	if (event.which == '13' && !event.shiftKey) {
		event.preventDefault();
		$('#new_message').submit();
	}
});

</script>
