<h2>Showing Channel:
<%=h @channel.name %>
</h2>

<table style="width:800px;">
<% @channel.messages.each do |m| %>
    <tr>
        <td valign="top" width="110" nowrap>
            <i><%= m.updated_at.localtime.strftime("%b %e %l:%M%p") %></i> 
        </td>
        <td valign="top">
            <b><%= m.poster %>:</b>
        </td>
        <td>
            <%= m.content %>
        </td>
    </tr>
<% end %>
</table>

<hr/>
<% form_for [@channel, @message] do |f| %>
    <%= f.error_messages %>

    <p>
    Post Message<br/>
    <%= f.text_area :content, :size => "60x10" %>
    </p>
    <p>
    <%= f.submit 'Post' %>
    </p>
<% end %>

<%= link_to 'Edit', edit_channel_path(@channel) %> |
<%= link_to 'Delete Channel', @channel, :confirm => 'Are you sure?', :method => :delete %> |

<%= link_to 'Back', channels_path %>
