<% content_for :head do %>
    <%= javascript_include_tag "channel" %>
<% end %>

<div id="group_details">
<div class="top_controls">
	<div class="users_in_channel">Users in channel: <% @channel.users.each do |u| %> <%= u.alias %> <% end %></div>
	<a href="javascript:showOverlay();" class="add_user">Add User</a>
</div>
<div id="main_content">
	<div id="message_post">
	<h2><%=h @channel.name %></h2>
	<%= form_for [@channel, @message] do |f| %>
	    <label for="msginput">Post Message
	    <%= f.text_area :content, :size => "100x4", :id => "msginput" %></label>
	<% end %>
	
	<a href="javascript:submitPost();" class="message_post">Post</a>
	
	</div>
	
	<% prev_message = nil %>
	<ul id="message_list">
		<% if @channel.messages.size == 0 %>
		   <li class="message_row"><p class="no_messages">This channel has no messages.</p></li>
		<% end %>
	    <% @channel.grouped_messages.each do |group| %>
	        	<li class="message_row">
	            <div class="meta">
	            	<p class="username"><%= group.poster %>:</p>
				<p class="date"><%= group.date %></p>
	            </div>
	            <div class="message_content">
	                    <% group.messages.reverse.each do |m| %>
	                        <p id="message_<%= m.id %>"><%= raw [m.marked_up_content] %></p>
	                    <% end %>
	            </div>
	            </li>
	    <% end %>
	</ul>
</div>
<div id="media_content">
	<p>Right column for media stuff (just an idea for now)</p>
</div>
<ul class="bottom_controls">
<li><%= link_to 'Back', channels_path %></li>
<li><%= link_to 'Edit', edit_channel_path(@channel) %></li>
<li><%= link_to 'Delete Channel', @channel, :confirm => 'Are you sure?', :method => :delete %></li>
<% if @channel.users.include? @user %>
<li><%= link_to "Leave Channel", "/channels/leave_channel/#{@channel.id}" %></li>
<% end %>
</ul>
<div id="overlay" class="overlay">
    <div class="overlay_content add_user_form">
    <a href="#" class="close_overlay">Cancel</a>
        <%= form_tag('add_user') do %>
            <label for="user_alias">Add user:
            <%= text_field :user, :alias, :value => "" %>
            </label>
            <%= hidden_field_tag :id, @channel.id %>
            <%= submit_tag "Add User", :class => "add_user_submit" %>
        <% end %>
    </div>
    <div class="overlay_bg"></div>
</div>
<script type="text/javascript">

    weHaveFocus = true;

    isShowingAltTitle = false;
    notifyTimer = null;

window.onfocus = function()
{
    weHaveFocus = true;

    stopNotify();

    var newtitle = "Channels: <%= @channel.name %>" ;
    document.title = newtitle;

}

window.onblur = function()
{
    weHaveFocus = false;
}


function stopNotify()
{
    if (notifyTimer != null)
    {
        clearTimeout(notifyTimer);
        notifyTimer = null;
    }
}

function notify(name)
{
    if (isShowingAltTitle)
    {
        document.title = "Channels: <%= @channel.name %>";
    }
    else
    {
        document.title = name + " says...";
    }
    isShowingAltTitle = !isShowingAltTitle;

    notifyTimer = setTimeout("notify('" + name + "')", 1500);
}

function startNotify(name)
{
    if (notifyTimer == null)
        notifyTimer = setTimeout("notify('" + name + "')", 1500);
}

var currentnumber = <%= @channel.messages.count %>;
$(document).ready(function(){waitForMsg(<%= @channel.id %>);});

// post submit
$('#msginput').keypress(function(event) {
        if (event.which == '13' && !event.shiftKey) 
        {
        event.preventDefault();
        submitPost();
        }
        });
// attach handler to form's submit event 
function submitPost(){
    var text = $('#msginput').val();
    var options = 
    {
dataType: 'json',
          success:    function(data, stat)
          {
              addMessageToTable(data['id'],'<%= @user.alias %>', data['date'], data['content']);
          }
    };
    $('#new_message').ajaxSubmit(options);
    $('#msginput').val("");
    //getNewMessages(<%= @channel.id %>);
}
</script>
