<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Channels: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'scaffold' %>
</head>
<body>

<div style="float:right;">
    Logged in as <%= @user.alias %> | <%= link_to 'Logout', '/user/logout' %>
</div>

<p style="color: green"><%= flash[:notice] %></p>
<p style="color: red"><%= flash[:warning] %></p>

<div style="float:left;margin:10px;">

    <h1><%= link_to 'channels', channels_path %></h1>

<table>
    <% @user.channels(true).each do |channel| %>
        <tr>
            <td><%= link_to channel.name, channel %></td>
        </tr>
    <% end %>
</table>

<br />

<%= link_to 'New channel', new_channel_path %>
</div>


<div style="float:left;margin:10px;">
<%= yield %>
</div>

</body>
</html>
