<!doctype html>  
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title>Channels: <%= controller.action_name %></title>
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<%= stylesheet_link_tag 'reset' %>
	<%= stylesheet_link_tag 'global' %>
	<%= stylesheet_link_tag 'channels' %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquerycolor' %>
	<%= javascript_include_tag 'jquery.form' %>
	<%= yield :head %>
</head>
<body>

	<header id="header">
		<div id="header_left">
			<h1><%= link_to 'channels', channels_path %></h1>
		</div>
		<div id="header_right">Logged in as <%= @user.alias %> | <%= link_to 'Logout', '/user/logout' %></div>
	</header>
	<!-- /end #header -->
	<div id="wrapper">
		<aside id="sidebar">
			<nav id="channel_nav">
				<ul>
					<% @user.channels(true).each do |channel| %>
                                            <li><%= link_to channel.name, channel %>
                                            <% num_unread = channel.num_messages - @user.last_read(channel.id) - 1%>
                                            <% if num_unread > 0 %>
                                                (<%= num_unread %>)
                                            <% end %>
                                            </li>
					<% end %>
				</ul>
			</nav>
			<div class="channel_controls">
			<p class="users_in_channel">Users in channel: <% @channel.users.each do |u| %> <%= u.alias %> <% end %></p>
			    <div class="add_user_form">
			        <%= form_tag('add_user') do %>
			            Add user:
			            <%= text_field :user, :alias, :value => "" %>
			            <%= hidden_field_tag :id, @channel.id %>
			            <%= submit_tag 'Add' %>
			        <% end %>
			        <% if @channel.users.include? @user %>
			            <%= link_to "Leave Channel", "/channels/leave_channel/#{@channel.id}" %>
			        <% end %>
			    </div>
			</div>
			<div class="new_channel">
			<%= link_to 'New channel', new_channel_path %>
			</div>
		</aside>
		<!-- /end left #sidebar -->
	
	
		<article id="main">
			<%= flash[:notice] %>
			<%= flash[:warning] %>
			<%= yield %>
		</article>
		<!-- /end #main content -->
	</div>
	<!-- /end #wrapper -->
</body>
</html>
