<!doctype html>  
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <% if @channel %>
            <title>Channels: <%= @channel.name %></title>
        <% else %>
            <title>Channels</title>
        <% end %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<%= stylesheet_link_tag 'reset' %>
	<%= stylesheet_link_tag 'global' %>
	<%= javascript_include_tag 'jquery' %>
	<%= javascript_include_tag 'jquerycolor' %>
	<%= javascript_include_tag 'jquery.form' %>
        <%= javascript_include_tag :defaults %>
        <%= csrf_meta_tag %>

	<%= yield :head %>
</head>
<body>
	<header id="header">
		<div id="header_left">
			<h1><%= link_to 'channels', channels_path %></h1>
		</div>
		<div id="header_right">Logged in as <%= @user.alias %> | <%= link_to 'Logout', '/user/logout' %></div>
	</header>
	<!-- /end #header -->
	<div id="wrapper">
		<aside id="sidebar">
			<h3>Your Channels</h3>
			<nav id="channel_nav">
				<ul>
					<% @user.channels(true).each do |channel| %>
                             <li><%= link_to channel.name, channel %>
                             <% num_unread = channel.num_messages - @user.last_read(channel.id) - 1%>
                             <% if num_unread > 0 %>
                                 (<%= num_unread %>)
                             <% end %>
                             </li>
					<% end %>
				</ul>
			</nav>
			<div class="new_channel">
			<%= link_to 'New channel', new_channel_path %>
			</div>
		</aside>
		<!-- /end left #sidebar -->
	
	
		<article id="main">
			<%= flash[:notice] %>
			<%= flash[:warning] %>
			<%= yield %>
		</article>
		<!-- /end #main content -->
	</div>
	<!-- /end #wrapper -->
</body>
</html>
