<!doctype html>  
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<title><%= controller.action_name %></title>
	<meta name="viewport" content="width=device-width">
	<!--[if lt IE 9]>
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
	<![endif]-->
	<%= stylesheet_link_tag 'reset' %>
	<%= stylesheet_link_tag 'global' %>
	<%= javascript_include_tag 'jquery' %>
</head>
    <body>
        <header id="header">
        	<div id="header_left">
        		<h1><%= link_to 'channels', channels_path, :id => 'logo' %></h1>
        	</div>
        	<ul id="settings">
        	<li><%= link_to 'Login', :action => 'login' %></li>
        	<li><%= link_to 'Sign Up', :action => 'register' %></li>
        	</ul>
        </header>
        <!-- /end #header -->
        <div id="wrapper">
        	<%= flash[:notice] %>
        	<%= flash[:warning] %>
        	<%= yield %>
        </div>
    </body>
</html>
